<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>back</ion-back-button>
    </ion-buttons>
    <ion-title>bicep</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides [options]="option">

 <ion-slide>
  <ion-card>
    <ion-card-header>
      BARBEL PREACHER CURL
    </ion-card-header>
    <img src="{{one}}">
    <p style="color: black;font-size: 18px; font-weight: bold;">Body Part: <u class="">BICEP</u></p>
    <b style="font-size: 19px;"><b>Description:</b></b>
    <p style="font-weight: 25px;">
      1) Placena EZ-bar on the rack of preacher bench and load with appropriate weight.<br>
      <br>
      2) Adjust height of seating and bench until the bench reaches comfirtable<br> position under
      accross chest and under the armpits, while allowing full flexion and extension of the upper arms
      and forearms.<br>
      <br>
      3) Grasp bar with both hand and contract bicep to bring the bar towards the face.<br><br>
      4) Once at the full contraction, with controlled motions reversed the bar's direction and the back 
      until the back biceps are extended to complete the repetition.
    </p>
  <ion-card style="height: 150px;width: 200px;border-radius:0%;">
    <p style="color: black;font-size: 19px;">Sets and Reps: 12-10-8-6</p>
    <p style="color: black;font-size: 19px;">Weight: 5 kg/lbs</p>
  </ion-card>
  </ion-card>
</ion-slide>

  <ion-slide>
  <ion-card>
    <ion-card-header>
      DUMBEELL CONCENTRATION CURL
    </ion-card-header>
    <img src="{{two}}" style="height: 200px;">
    <p style="color: black;font-size: 18px; font-weight: bold;">Body Part: <u class="">BICEP</u></p>
    <b style="font-size: 19px;">Description:</b>
    <p style="font-weight: 25px;">
      <b>Preparation:</b> sit on bench, grasp<br>
      dumbbell between feet. place back<br>
      of upper arm to inner thigh. lean<br>
      into leg to raise elbows lightly.<br><br>
      <b>Execution:</b> Raise dumbbell to front<br>
      of shoulder. lower dumbbell until<br>
      arm is fully extended. Repeate. 
      continue with opposite arm.
    </p>
    <ion-card style="height: 150px;width: 200px;border-radius:0%;">
      <p style="color: black;font-size: 19px;">Sets and Reps: 12-10-8-6</p>
      <p style="color: black;font-size: 19px;">Weight: 5 kg/lbs</p>
    </ion-card>
  </ion-card>
</ion-slide>

  <ion-slide>
  <ion-card>
    <ion-card-header>
      INCLINED DUMBEELL CURL
    </ion-card-header>
    <img src="{{three}}" style="height:250px;width: 800px;">
    <p style="color: black;font-size: 18px; font-weight: bold;">Body Part: <u>BICEP</u></p>
    <b style="font-size: 19px;">Description:</b>
    <p style="font-weight: 25px;">
      1) Take tow dumbbell and sit on a incline (30-45 degree) bench with your feet on the floor.
         let your arms to hang down with your palmsfacing forward.<br><br>
      2) moving only your forearms, slowly curl the dumbbells up to shoulder level. keep your elbows 
         pressed againts your sides throughout the exercise.<br><br>
      3) hold this position for moment and slowly lower the dumbbella. make sure that only yor forearms
         are moving.    
    </p>
    <ion-card style="height: 150px;width: 200px;border-radius:0%;">
      <p style="color: black;font-size: 19px;">Sets and Reps: 12-10-8-6</p>
      <p style="color: black;font-size: 19px;">Weight: 5 kg/lbs</p>
    </ion-card>
  </ion-card>
 </ion-slide>

 <ion-slide>
  <ion-card>
    <ion-card-header>
      REVERSED DUMBEELL CURL
    </ion-card-header>
    <img src="{{four}}">
    <p style="color: black;font-size: 18px; font-weight: bold;">Body Part: <u>BICEP</u></p>
    <b style="font-size: 19px;">Description:</b>
    <p style="font-weight: 25px;">
      Stand with your feet slightly, using on overhand grip<br>(thumbs towards each other):<br><br>
      1) Inhale and curl the bar.<br><br>
      2) Exhale as you complete the movement. 
    </p>
    <ion-card style="height: 150px;width: 200px;border-radius:0%;">
      <p style="color: black;font-size: 19px;">Sets and Reps: 12-10-8-6</p>
      <p style="color: black;font-size: 19px;">Weight: 5 kg/lbs</p>
    </ion-card>
  </ion-card>
 </ion-slide>

  <ion-slide>
  <ion-card>
    <ion-card-header>
      SEATED DUMBEELL CURL
    </ion-card-header>
    <img src="{{five}}" style="height:250px;width: 500px;">
    <p style="color: black;font-size: 18px; font-weight: bold;">Body Part: <u>BICEP</u></p>
    <b style="font-size: 19px;">Description:</b>
    <p style="font-weight: 25px;">
      1) Take two dumbbells and seat on the flat bench with you fit<br>
        on the floar. let your arms to hand down with your palms 
        facing forward.<br><br>
      2) Moving only Your forearms, slowly curl the dumbbells up
      to shoulder level. keep your elbows pressed againts your sides
      throughout the exercise.<br><br>
      3) Hold this postion a moment and slowly lower the dumbbells.
       make sure that only your forearms are moving
    </p>
    <ion-card style="height: 150px;width: 200px;border-radius:0%;">
      <p style="color: black;font-size: 19px;">Sets and Reps: 12-10-8-6</p>
      <p style="color: black;font-size: 19px;">Weight: 5 kg/lbs</p>
    </ion-card>
  </ion-card>
  </ion-slide>

<ion-slide>
 <ion-card>
    <ion-card-header>
      DUMBEELL BICEPS CURL
    </ion-card-header>
    <img src="{{six}}" style="width: 1200px; height: 250px;">
    <p style="color: black;font-size: 18px; font-weight: bold;">Body Part: <u>BICEP</u></p>
    <b style="font-size: 19px;">Description:</b>
    <p style="font-weight: 25px;">
      1) Take 2 dumbbells. stand with your legs shoulder 
         with apart, bend your knees slightl. let your 
         arms to hang down with your palms facing each other.<br><br>

      2) Moving only your forearms, slowly curl the 
        dumbbells up to shoulder level. turn your palms 
        up when they pass your thighs. keep your elbows
        pressed againts your sides throughout the exercise.<br><br>

     3) Hold this position for a moment and slowly lower
        the dumbbells. turn your palms in when they are half 
        way down. make sure that only your forearms are 
        moving throughout the excercise.
    </p>
    <ion-card style="height: 150px;width: 200px;border-radius:0%;">
      <p style="color: black;font-size: 19px;">Sets and Reps: 12-10-8-6</p>
      <p style="color: black;font-size: 19px;">Weight: 5 kg/lbs</p>
    </ion-card>
  </ion-card>
</ion-slide>
</ion-slides>
</ion-content>
