<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>chest</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          Flat Barbell bench press
        </ion-card-header>
        <img src="{{one}}">
        <p style="color: black;font-size: 18px; font-weight: bold;">Body Part: <u>chest</u></p>
        <b style="font-size: 19px;"><b>Description:</b></b>
        <p style="font-weight: 25px;">
          1) Position yourself on the bench with your feet<br> 
             firmly on the ground and your back flat<br> 
             (the bar should be directly over your eyes,<br> 
             and your head, shoulders,<br> 
             and buttocks should be on the bench).<br><br>

          2) Grasp the barbell with palms forward and thumbs<br> 
             wrapped around the bar.<br> 
             Move the bar into starting position, with help<br> 
             from a spotter if needed<br> 
             with your hands around shoulder width apart.<br>

          3) Position the bar over your chin or upper chest,<br> 
             keeping your elbows and wrists straight.

          4) Inhale and lower the bar slowly until it touches<br>
             your chest below your armpits. As you lower, flare<br> 
             your elbows out slightly<br>
            
        </p>
      <ion-card style="height: 150px;width: 200px;border-radius:0%;">
        <p style="color: black;font-size: 19px;">Sets and Reps: 12-10-8-6</p>
        <p style="color: black;font-size: 19px;">Weight: 5 kg/lbs</p>
      </ion-card>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-header>
          Decline Barbell bench press
        </ion-card-header>
        <img src="{{two}}">
        <p style="color: black;font-size: 18px; font-weight: bold;">Body Part: <u>chest</u></p>
        <b style="font-size: 19px;"><b>Description:</b></b>
        <p style="font-weight: 25px;">
          Grip the bar with your palms facing forward,<br>
          arms slightly wider than shoulder-width apart.<br> 
          Straighten your arms to lift the barbell from<br> 
          the rack. Move it over your shoulders, locking<br> 
          your elbows. Inhale and slowly lower the barbell<br> 
          until it touches your mid-chest, keeping your<br> 
          elbows 45 degrees from your body<br>  
        </p>
      <ion-card style="height: 150px;width: 200px;border-radius:0%;">
        <p style="color: black;font-size: 19px;">Sets and Reps: 12-10-8-6</p>
        <p style="color: black;font-size: 19px;">Weight: 5 kg/lbs</p>
      </ion-card>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-header>
          Incline Barbell bench press
        </ion-card-header>
        <img src="{{three}}">
        <p style="color: black;font-size: 18px; font-weight: bold;">Body Part: <u>chest</u></p>
        <b style="font-size: 19px;"><b>Description:</b></b>
        <p style="font-weight: 25px;">
          lift the barbell of the rack and slowly<br>
          lower it to about 3 inches above your clavicle<br>
          and press the bar back to the starting position<br>
          .DO NOT TOUCHED THE BAR TO YOUR UPPER CHEST<br>
          be sure that when you are lowerig the bar that<br>
          you do in slow and control fashion. conversely,<br>
          when you press the bar upward, you want to do<br>
          so in an explosive fashion<br> 
        </p>
      <ion-card style="height: 150px;width: 200px;border-radius:0%;">
        <p style="color: black;font-size: 19px;">Sets and Reps: 12-10-8-6</p>
        <p style="color: black;font-size: 19px;">Weight: 5 kg/lbs</p>
      </ion-card>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-header>

        </ion-card-header>
        <img src="{{four}}">
        <p style="color: black;font-size: 18px; font-weight: bold;">Body Part: <u>chest</u></p>
        <b style="font-size: 19px;"><b>Description:</b></b>
        <p style="font-weight: 25px;">
          1) Grab the sides on a weight plate with both hands.<br>
          2) Set your feet shoulder-width apart.<br>
          3) Preapare your core.<br>  
        </p>
      <ion-card style="height: 150px;width: 200px;border-radius:0%;">
        <p style="color: black;font-size: 19px;">Sets and Reps: 12-10-8-6</p>
        <p style="color: black;font-size: 19px;">Weight: 5 kg/lbs</p>
      </ion-card>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-header>

        </ion-card-header>
        <img src="{{five}}">
        <p style="color: black;font-size: 18px; font-weight: bold;">Body Part: <u>chest</u></p>
        <b style="font-size: 19px;"><b>Description:</b></b>
        <p style="font-weight: 25px;">
          1) Sit on a bench with back support in a<br>
             squat rack. position a barbell at<br>
             a height that is just above your head<br>

          2) Grab THE Barbell with pronated grip<br>
             (palms facing forward). once you pick<br>
             the barbell with correct grip width, lift<br>
             the bar up over your head by your arms.<br>
             hold at about shoulder level and slightly<br>
             in front of your. this is your starting<br>
             position.<br> 

          3) lower the bar down to the shoulder slowly<br>
             as you inhale. lift the bar back to the<br>
             starting position as you exhale.<br>          
          
        </p>
      <ion-card style="height: 150px;width: 200px;border-radius:0%;">
        <p style="color: black;font-size: 19px;">Sets and Reps: 12-10-8-6</p>
        <p style="color: black;font-size: 19px;">Weight: 5 kg/lbs</p>
      </ion-card>
      </ion-card>
    </ion-slide>

</ion-slides>

</ion-content>

