<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>shoulder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          Barbell Front Raise
        </ion-card-header>
        <img src="{{one}}">
        <p style="color: black;font-size: 18px; font-weight: bold;">Body Part: <u>Shoulder</u></p>
        <b style="font-size: 19px;"><b>Description:</b></b>
        <p style="font-weight: 25px;">
          1) Set the barbell by loading a straight bar or a<br>
             EZ bar with weight you want to use.<br><br>

          2) Grasp the bar with an overhand grip (palms facing down)<br> 
             with your hands around shoulder width apart.<br>

          3) stand straight up and let the barbell rest<br>
             on your thighs.<br>

          4) Straighten your back, tnese your mid section and pull<br>
             your shoulder back, taking the weight off your<br>
             thighs and holding it about 5 inches from your body<br>
             this the starting position of the exercise.<br>
             
          5) keeping ypur arms straight slowly Raise the barbell<br>
             up to the shoulder height.<br>
             
          6) Pause, and then slowly lower the barbell back to<br>
          the starting position<br><br>  
        </p>
      <ion-card style="height: 150px;width: 200px;border-radius:0%;">
        <p style="color: black;font-size: 19px;">Sets and Reps: 12-10-8-6</p>
        <p style="color: black;font-size: 19px;">Weight: 5 kg/lbs</p>
      </ion-card>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-header>
          Dumbbell Front Raises
        </ion-card-header>
        <img src="{{two}}">
        <p style="color: black;font-size: 18px; font-weight: bold;">Body Part: <u>Shoulder</u></p>
        <b style="font-size: 19px;"><b>Description:</b></b>
        <p style="font-weight: 25px;">
          Grasp Dumbell in both hands, Position Dumbells<br>
          in front of upper legs with elbows straight<br>
          or slightly bent. Raise Dumbell forward and<br>
          upward until upper arms are above horizontal.<br>
          Lower and Repeat.<br>  
        </p>
      <ion-card style="height: 150px;width: 200px;border-radius:0%;">
        <p style="color: black;font-size: 19px;">Sets and Reps: 12-10-8-6</p>
        <p style="color: black;font-size: 19px;">Weight: 5 kg/lbs</p>
      </ion-card>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-header>
          Dumbbell Side Lateral Raises
        </ion-card-header>
        <img src="{{three}}">
        <p style="color: black;font-size: 18px; font-weight: bold;">Body Part: <u>Shoulder</u></p>
        <b style="font-size: 19px;"><b>Description:</b></b>
        <p style="font-weight: 25px;">
          Stand with fit about shoulder-width apart,<br>
          with arms flat at your side holding are Dumbells.<br>
          lift both arms outwards until they are parallel<br>
          with your shoulde, and then lower bacl doen<br>
          to resting position, and Repeat. Avoid bending<br>
          your elbows as this causes strain on the join.<br>  
        </p>
      <ion-card style="height: 150px;width: 200px;border-radius:0%;">
        <p style="color: black;font-size: 19px;">Sets and Reps: 12-10-8-6</p>
        <p style="color: black;font-size: 19px;">Weight: 5 kg/lbs</p>
      </ion-card>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-header>
          Weight Plate Front Raises
        </ion-card-header>
        <img src="{{four}}">
        <p style="color: black;font-size: 18px; font-weight: bold;">Body Part: <u>Shoulder</u></p>
        <b style="font-size: 19px;"><b>Description:</b></b>
        <p style="font-weight: 25px;">
          1) Grab the sides on a weight plate with both hands.<br>
          2) Set your feet shoulder-width apart.<br>
          3) Preapare your core.<br>  
        </p>
      <ion-card style="height: 150px;width: 200px;border-radius:0%;">
        <p style="color: black;font-size: 19px;">Sets and Reps: 12-10-8-6</p>
        <p style="color: black;font-size: 19px;">Weight: 5 kg/lbs</p>
      </ion-card>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-header>
          Seated Front Press
        </ion-card-header>
        <img src="{{five}}">
        <p style="color: black;font-size: 18px; font-weight: bold;">Body Part: <u>Shoulder</u></p>
        <b style="font-size: 19px;"><b>Description:</b></b>
        <p style="font-weight: 25px;">
          1) Sit on a bench with back support in a<br>
             squat rack. position a barbell at<br>
             a height that is just above your head<br>

          2) Grab THE Barbell with pronated grip<br>
             (palms facing forward). once you pick<br>
             the barbell with correct grip width, lift<br>
             the bar up over your head by your arms.<br>
             hold at about shoulder level and slightly<br>
             in front of your. this is your starting<br>
             position.<br> 

          3) lower the bar down to the shoulder slowly<br>
             as you inhale. lift the bar back to the<br>
             starting position as you exhale.<br>          
          
        </p>
      <ion-card style="height: 150px;width: 200px;border-radius:0%;">
        <p style="color: black;font-size: 19px;">Sets and Reps: 12-10-8-6</p>
        <p style="color: black;font-size: 19px;">Weight: 5 kg/lbs</p>
      </ion-card>
      </ion-card>
    </ion-slide>

</ion-slides>

</ion-content>