<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>tricep</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides>
  <ion-slide>
    <ion-card>
      <ion-card-header>
        Bentover Single Arm Cable Kickback
      </ion-card-header>
      <img src="{{one}}">
      <p style="color: black;font-size: 18px; font-weight: bold;">Body Part: <u>Tricep</u></p>
      <b style="font-size: 19px;"><b>Description:</b></b>
      <p style="font-weight: 25px;">
        1) Grasp ne dof low pully cable and stand in front of pully.<br>
          Bend hips and knees until torso is almost parallel to floar.<br>
        <br>
        2) Brig upper arm in to horizontal position and keep elbow 
           close to body. extend arm completly, keep elbow fixed. 
        <br>
        3) Return and repeate. Continue with opposite side<br><br>
      </p>
    <ion-card style="height: 150px;width: 200px;border-radius:0%;">
      <p style="color: black;font-size: 19px;">Sets and Reps: 12-10-8-6</p>
      <p style="color: black;font-size: 19px;">Weight: 5 kg/lbs</p>
    </ion-card>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <ion-card-header>
        HyperBench Rope Pushdown
      </ion-card-header>
      <img src="{{two}}">
      <p style="color: black;font-size: 18px; font-weight: bold;">Body Part: <u>Tricep</u></p>
      <b style="font-size: 19px;"><b>Description:</b></b>
      <p style="font-weight: 25px;">
        Take few steps back from the machine<br> and using an overhand grip
        Space your hands on the bar slightly less than shoulder with apart.
        You can also perform this movement with one feet in front of other 
        if it feels more confirtable. learn forward and start with bar 
        and touching your forehead. with force, drive the weight down 
        to your waist by extending your elbows. make sure to keep your
        elbows close to youe sides at all times. Once you have lock your 
        elbows out at the bottom, squeeze your triceps and then Return
        the bar back to the starting position by touching your forehead.  
      </p>
    <ion-card style="height: 150px;width: 200px;border-radius:0%;">
      <p style="color: black;font-size: 19px;">Sets and Reps: 12-10-8-6</p>
      <p style="color: black;font-size: 19px;">Weight: 5 kg/lbs</p>
    </ion-card>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <ion-card-header>
        V-Bar Pushdown
      </ion-card-header>
      <img src="{{three}}">
      <p style="color: black;font-size: 18px; font-weight: bold;">Body Part: <u>Tricep</u></p>
      <b style="font-size: 19px;"><b>Description:</b></b>
      <p style="font-weight: 25px;">
        Using the cable machine, raised the pulley above your head,
        use the V-Bar. set your feet roughly shoulder width apart,
        tuck your elbows in, and lean slightly forward. Now move 
        your hands up and down in a complete range of motion and make
        sure to keep your hands in tight with your body.  
      </p>
    <ion-card style="height: 150px;width: 200px;border-radius:0%;">
      <p style="color: black;font-size: 19px;">Sets and Reps: 12-10-8-6</p>
      <p style="color: black;font-size: 19px;">Weight: 5 kg/lbs</p>
    </ion-card>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <ion-card-header>
        Weighted Bench Dips
      </ion-card-header>
      <img src="{{four}}">
      <p style="color: black;font-size: 18px; font-weight: bold;">Body Part: <u>Tricep</u></p>
      <b style="font-size: 19px;"><b>Description:</b></b>
      <p style="font-weight: 25px;">
        1) Set up for the Weighted bench<br>
           dip by placing 2 flat benches<br>
           parallel to one another around<br>
           4-5 feet apart (you may need to<br> 
           adjust the width to suit your height)<br>
        2) place your hands on the edge of the<br> 
           other bench as show in video. put<br>
           your heels on the edge of the opposite<br>
           bench at the around shoulder width apart.<br>

        3) Have a training partner place a weight plate<br>
           on your thighs. this is a starting position<br>
           for the exercise<br>
           
        4) Keeping your body close to the bench<br>
           slowly dip down until your elbows are <br>
           at the same height as your shoulders<br>

        5) slowly push back up squeezing through<br>
           the triceps<br>

        6) Do not lock the elbows out at the top of<br>
           the exercise, and repeate.

          </p>
    <ion-card style="height: 150px;width: 200px;border-radius:0%;">
      <p style="color: black;font-size: 19px;">Sets and Reps: 12-10-8-6</p>
      <p style="color: black;font-size: 19px;">Weight: 5 kg/lbs</p>
    </ion-card>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <ion-card-header>
        Lying Barbell Triceps Extension
      </ion-card-header>
      <img src="{{five}}">
      <p style="color: black;font-size: 18px; font-weight: bold;">Body Part: <u>Tricep</u></p>
      <b style="font-size: 19px;"><b>Description:</b></b>
      <p style="font-weight: 25px;">
        1) Lie on the bench with narrow<br>
           overhand grip on Barbell.<br>
           position Barbell over forehead<br>
           with arm extended.<br><br>
        2) Lower bar by bending elbows.<br> 
          as abr nears head, move elbows<br>
           slightly back  just enough to<br>
           allow bar to clear around the.<br>
           curvature of head. Extend arms, As<br>
           bar clears head, reposition elbows<br>
           to there former position until arms<br>
           are fully extended repeate<br>
          </p>
    <ion-card style="height: 150px;width: 200px;border-radius:0%;">
      <p style="color: black;font-size: 19px;">Sets and Reps: 12-10-8-6</p>
      <p style="color: black;font-size: 19px;">Weight: 5 kg/lbs</p>
    </ion-card>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <ion-card-header>
        One arm Dumbbell Triep Exetentions
      </ion-card-header>
      <img src="{{six}}">
      <p style="color: black;font-size: 18px; font-weight: bold;">Body Part: <u>Tricep</u></p>
      <b style="font-size: 19px;"><b>Description:</b></b>
      <p style="font-weight: 25px;">
        1) stand with one Dumbbell with<br>
           your one hand holding the Dumbbell<br>
           and other behind your back.<br><br>

        2) Lower Dumbbell behind neck or<br> 
           shoulder while maintaining upper arms<br>
           vertical position throughout<br>
           exercise. Extend arm until straight<br>
           Return and Repeate. Continue with<br>
           opposite arm.<br>
          </p>
    <ion-card style="height: 150px;width: 200px;border-radius:0%;">
      <p style="color: black;font-size: 19px;">Sets and Reps: 12-10-8-6</p>
      <p style="color: black;font-size: 19px;">Weight: 5 kg/lbs</p>
    </ion-card>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <ion-card-header>
        Dimond Push-Ups
      </ion-card-header>
      <img src="{{seven}}">
      <p style="color: black;font-size: 18px; font-weight: bold;">Body Part: <u>Tricep</u></p>
      <b style="font-size: 19px;"><b>Description:</b></b>
      <p style="font-weight: 25px;">
        1) Get into the standard push-up<br>
           position with your hands together<br>
           directly beneath your chest,<br>
           so that index fingers and thumbs<br>
           are touching tp fomr a triangle<br><br>

        2) Keeping Your core tight, slowly<br>
           lower your body to the ground.<br>
           make sure to keep your elbows<br>
           tucked in close by your sides<br>
           so they make a 45-degree angle<br>
           with your torso. without altering<br>
           your hand placement, pause and<br> 
           push yourself back to the starting<br>
           position<br>
          </p>
    <ion-card style="height: 150px;width: 200px;border-radius:0%;">
      <p style="color: black;font-size: 19px;">Sets and Reps: 12-10-8-6</p>
      <p style="color: black;font-size: 19px;">Weight: 5 kg/lbs</p>
    </ion-card>
    </ion-card>
  </ion-slide>

  </ion-slides>
</ion-content>
